include *.txt *.ini *.cfg *.rst README.md
include pyramid.wsgi ampweb.conf production.ini-dist ampweb_sudoers
recursive-include ampweb *.ico *.png *.css *.gif *.jpg *.pt *.txt *.mak *.mako *.js *.html *.xml *.eot *.svg *.ttf *.woff
