body {
    font-size: 16px;
}

h2 {
    border-bottom: 1px solid #CC0000;
    font-size: medium;
    margin: 10px 0;
}

a[href] {
    color: #225599;
    text-decoration: none;
}
a[href]:hover,
#eventlist > li > p:hover {
    /*color: #3377FF;*/
    color: #0044FF;
    text-decoration: underline;
}
a[href]:active {
    color: #CC0000;
    text-decoration: underline;
}

#eventlist > li > p {
    cursor: pointer;
    font-weight: bold;
}

#eventlist > li > ul {
    font-size: 0.9em;
    margin-bottom: 10px;
}

#recent_events, #recent_sources, #recent_targets {
    float: left;
    padding-right: 20px;
    max-width: 620px;
}

#recent_graph, #source_graph, #target_graph {
    width: 600px;
    height: 200px;
    margin: 20px 0 0;
}