@import url('bootstrap.min.css');

html, body {
    height: 100%;
}

body, input, textarea, select {
    font-size: 14px;
}
body, input, textarea, select,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    /* Reset Bootstrap */
    font-family: sans-serif;
}

h1,
h2,
h3 {
    padding: 3px;
}

#page {
    display: block;
    left: 0px;
    min-height: 100%;
    padding: 8px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 0;
}

#header {
    border-bottom: solid 1px red;
    display: block;
    width: 600px;
}

#header a.logo {
    background: url('../img/wand-logo-default.png') no-repeat center;
    border: 0;
    display: block;
    float: left;
    height: 56px;
    width: 152px;
}

#header span {
    display: block;
    float: left;
    font-size: 18px;
    line-height: 56px;
    padding: 0 20px;
}

/*
 * This CSS pins the footer to the bottom of the page or the bottom of the
 * viewport depending on which of the two has a greater height, but the footer
 * is not currently used. We may want to make the footer fixed for pages that
 * scroll infinitely (e.g. the dashboard's event list).
 */
#footer {
    bottom: 0px;
    font-size: 0.75em;
    height: 15px;
    left: 0px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10;
}

#content {
    padding: 10px 0;
}

#dropdowndiv {
    float: left;
    padding: 5px 0 10px 0;
}

/* Drop down a line after the "Add new data series" button */
#dropdowndiv > a + span {
    clear: both;
}

#dropdowndiv > a,
#dropdowndiv > span {
    float: left;
    margin: 0 2px 2px 0;
    padding: 3px;
}

/* Pad the '+' icon of the "Add new data series" button slightly */
#dropdowndiv > a > span {
    margin: 0 6px 0 4px;
}
#dropdowndiv > a {
    padding-right: 6px;
}

/* Pad the 'x' button and the stream icon of the stream labels slightly */
#dropdowndiv > span button {
    margin: -3px -3px -3px 10px;
}
#dropdowndiv > span label {
    margin: 0 8px 0 6px;
}

#graph-container {
    clear: both;
    float: left;
}

#graph {
    border: 2px solid #000;
    width: 800px;
    /*
     * What is making up this 426px height? Had to increase it so it wasn't
     * changing constantly on page refresh.
     */
    min-height: 426px;
    float: left;
    padding: 3em;
    position: relative;
    display: inline-block;
}

/* Graph styles */
ul#graphtablist {
    display: block;
    float: left;
    font-size: 0.75em;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    white-space: nowrap;
}
ul#graphtablist li {
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    margin: 0 0 -2px 0;
    padding: 0.75em;
    border: 2px solid #505050;
    border-left: none;
    background-color: #F5F5F5;
}
ul#graphtablist li.selected {
    border: 2px solid #0F0F0F;
    border-left: none;
    background-color: white;
}

#graph_controls {
    float: right;
}
#time_selections {
    margin-top: 4em;
    list-style-type: none; 
}
.time_select{ 
    padding: 0.5em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    background-color: #363636;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    margin-top: 1px;
    margin-bottom: 1px;
    color: #d3d4ff;
}
.detail {
    background-color: #FFFFFF;
    margin-bottom: 1.5em;
}

.summary {
    background-color: #FFFFFF;
    padding-left: 2.5em;
    /*width: 760px;*/
    /* XXX temporary, while testing view buttons this makes it the same width */
    width: 720px;

}

.flotr-handles-handle {
    background:#eee;
    border:1px solid #333;
    position:absolute;
    cursor:pointer;
    border-radius:3px
}
.flotr-handles-handle,.flotr-grid-label {
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none
}
.flotr-handles-drag {
    height:12px;width:3px
}
.flotr-handles-scroll {
    height:3px;cursor:move
}
.flotr-handles-left {
    cursor:w-resize
}
.flotr-handles-right {
    cursor:e-resize
}

.flotr-loading {
    background-color: "#fff";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.flotr-loading > div {
    display: table;
    height: 100%;
    width: 100%;
}
.flotr-loading > div > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.flotr-loading .progress {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    width: 400px;
}
.flotr-loading .status {
    display: block;
    padding: 10px 0;
    text-align: center;
}

.flotr-mouse-value {
    max-width: 700px;
    white-space: normal !important;
}


/* Clearfixes */

#header:after, #header:before,
#content:after, #content:before {
    content: " ";
    display: table;
}
#header:after,
#content:after {
    clear: both;
}
#header,
#content {
    *zoom: 1; /* IE 6/7 clearfix */
}