@import url('bootstrap.min.css');
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,400italic,700italic');

/* --------------------------------------------------------------------------
 * Global
 * -------------------------------------------------------------------------- */

html, body {
    height: 100%;
}

body {
    overflow-y: scroll;
}

body, input, textarea, select {
    font-size: 14px;
}
body, input, textarea, select,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    /* Reset Bootstrap */
    font-family: "Source Sans Pro", sans-serif;
}

h1, h2, h3 {
    padding: 3px;
}

h2 {
    border-bottom: 1px solid #CC0000;
    font-size: 18px;
    margin: 10px 0;
}

a {
    color: #225599;
    outline: none !important;
    transition: all 0.2s;
}

a:hover,
#eventlist > li > p:hover {
    /*color: #3377FF;*/
    color: #2a6496;
    text-decoration: underline;
}

#page {
    display: block;
    left: 0px;
    min-height: 100%;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 0;
}

#page > header {
    background: #333;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    display: block;
    padding: 10px;
    width: 100%;
}

#page > header a {
    color: #fff;
    text-decoration: none;
}
#page > header a:hover, #page > header a.logo:hover {
    background-color: #666;
    border-radius: 3px;
    text-decoration: none;
}

#page > header a.logo {
    background: url('../img/wand-logo-default-small.png') no-repeat center;
    border: 0;
    display: block;
    float: left;
    height: 50px;
    width: 170px;
}

#page > header span {
    display: block;
    float: left;
    font-size: 36px;
    font-weight: 200;
    line-height: 50px;
    padding: 0 10px;
}
#page > header span a {
    padding: 0 10px;
}

/*
 * This CSS pins the footer to the bottom of the page or the bottom of the
 * viewport depending on which of the two has a greater height, but the footer
 * is not currently used. We may want to make the footer fixed for pages that
 * scroll infinitely (e.g. the dashboard's event list).
 */
#page > footer {
    bottom: 0px;
    font-size: 0.75em;
    height: 20px;
    left: 0px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10;
}

#page > nav ul {
    background: #444;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page > nav ul li {
    float: left;
}
#page > nav ul li.current a {
    background: #333;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}
#page > nav ul li a {
    color: #fff;
    display: block;
    margin-bottom: -1px;
    padding: 8px 15px;
}

#content {
    padding: 20px;
}

.nowrap {
    white-space: nowrap;
}

/* Clearfixes */

#page > header:after, #page > header:before,
#page > nav ul:after, #page > nav ul:before,
#content:after, #content:before {
    content: " ";
    display: table;
}
#page > header:after,
#page > nav ul:after,
#content:after {
    clear: both;
}
#page > header,
#page > nav ul,
#content {
    *zoom: 1; /* IE 6/7 clearfix */
}

/* --------------------------------------------------------------------------
 * Graph pages
 * -------------------------------------------------------------------------- */

#dropdowndiv {
    float: left;
    padding: 5px 0 10px 0;
}

/* Drop down a line after the "Add new data series" button */
#dropdowndiv > a + span {
    clear: both;
}

#dropdowndiv > a,
#dropdowndiv > span {
    float: left;
    font-size: 0.9em;
    font-weight: normal;
    margin: 0 2px 2px 0;
    padding: 3px;
}

#dropdowndiv > span > label.loading {
    background: url('../img/ajax-loader2.gif') no-repeat center;
    height: 16px;
    margin: -1px 0;
    overflow: hidden;
    text-indent: 16px;
    width: 16px;
}

/* Pad the '+' icon of the "Add new data series" button slightly */
#dropdowndiv > a > span {
    margin: 0 6px 0 4px;
}
#dropdowndiv > a {
    padding-right: 6px;
}

/* Pad the 'x' button and the stream icon of the stream labels slightly */
#dropdowndiv > span button {
    margin: -3px -3px -3px 10px;
}
#dropdowndiv > span label {
    margin: 0 8px 0 6px;
}

#graph-container {
    clear: both;
    float: left;
    position: relative;
}

#graph {
    border: 2px solid #999;
    float: left;
    /* min-height = (300 + 90 graphs) + (20 gap) + (80 + 4 padding/border) */
    min-height: 494px;
    padding: 40px;
    position: relative;
    width: 800px;
}

ul#graphtablist {
    display: block;
    font-size: 0.9em;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 100%;
    white-space: nowrap;
}
ul#graphtablist li {
    background: #eee;
    border: 2px solid #999;
    border-left: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    margin: 0 0 -2px 0;
    margin-right: 5px;
    padding: 0.75em;
    position: relative;
}
ul#graphtablist li.selected { /* The currently selected tab */
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin-right: 0px;
    z-index: 8;
}

#graph .detail {
    margin-bottom: 20px;
    height: 300px;
}

#graph .summary {
    height: 90px;
}

.flotr-handles-handle {
    background:#eee;
    border:1px solid #333;
    position:absolute;
    cursor:pointer;
    border-radius:3px
}
.flotr-handles-handle,.flotr-grid-label {
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none
}
.flotr-handles-drag {
    height: 12px;
    width: 4px;
}
.flotr-handles-scroll {
    height: 4px;
    cursor: move;
}
.flotr-handles-left {
    cursor: w-resize;
}
.flotr-handles-right {
    cursor: e-resize;
}

.flotr-loading {
    background-color: "#fff";
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.flotr-loading > div {
    display: table;
    height: 100%;
    width: 100%;
}
.flotr-loading > div > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.flotr-loading .progress {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    width: 400px;
}
.flotr-loading .status {
    display: block;
    padding: 10px 0;
    text-align: center;
}

.flotr-mouse-value {
    /* Most of these are !important to override Flotr's inline styles */
    background: rgba(0, 0, 0, 0.7) !important;
    max-width: 700px;
    opacity: 1 !important;
    white-space: normal !important;
    z-index: 10; /* high enough to sit atop other graphs on dashboard */
}

/* --------------------------------------------------------------------------
 * Dashboard styles
 * -------------------------------------------------------------------------- */

body.dashboard #content {
    padding-right: 0;
}

ul#eventlist {
    font-size: 16px;
    list-style: none;
    padding: 0;
}

ul#eventlist li {
    margin: 0;
    padding: 5px 10px;
}
ul#eventlist > li:nth-child(odd) {
    background: rgba(0, 0, 0, 0.1);
}

ul#eventlist > li > p {
    cursor: pointer;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

ul#eventlist > li > ul {
    font-size: 0.9em;
    margin: 0 0 10px;
    padding: 0 0 0 30px;
}

#recent_events, #recent_sources, #recent_targets {
    float: left;
    padding-right: 20px;
    max-width: 620px;
}

#recent_graph, #source_graph, #target_graph {
    font-size: 16px;
    width: 600px;
    height: 200px;
    margin: 20px 0 0;
}

/* --------------------------------------------------------------------------
 * Matrix styles
 * -------------------------------------------------------------------------- */

ul#topTabList {
    background: #eee;
    border-bottom: 1px solid #ddd;
    list-style: none;
    margin: -20px -20px 0;
    padding: 0;
}
ul#topTabList > li {
    float: left;
    margin-bottom: -1px;
}
ul#topTabList > li > a {
    display: block;
    padding: 10px 15px;
}
ul#topTabList > li > div {
    padding: 4px;
}

ul#topTabList > li.current a {
    background: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    font-weight: bold;
    margin-bottom: -1px;
}

#changeMesh div {
    display: inline-block;
    vertical-align: middle;
}

#changeMesh a {
    padding: 5px;
}
#changeMesh label {
    cursor: pointer;
    margin-bottom: 0;
}

#tabContent {
    clear: both;
}

table#amp-matrix {
    border-collapse: separate;
    border-spacing: 3px;
}

table#amp-matrix td a {
    display: block;
    height: 100%;
    overflow: hidden;
    text-decoration: none !important;
    text-indent: 100%;
    width: 100%;
}

table#amp-matrix th,
table#amp-matrix td {
    font-size: 75%;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

table#amp-matrix th {
    padding-left: 3px;
    /* hax to fix rendering glitches with transformed text */
    transform: perspective(9999px);
    -moz-transform: perspective(9999px);
    -ms-transform: perspective(9999px);
    -webkit-transform: perspective(9999px);
    vertical-align: bottom;
    white-space: nowrap;
    width: 16px;
}
table#amp-matrix th p {
    display: block;
    height: 80px\9;
    margin: 0;
    padding: 0;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 0px;
}
table#amp-matrix th p span {
    display: block;
    /* writing-mode: tb-rl; */
    white-space: nowrap;
}

table#amp-matrix td:first-child {
    text-align: right;
    padding-right: 5px;
    white-space: nowrap;
}

td.cell {
    border: 1px solid #333; /* <IE9 fallback */
    border: 1px solid rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 16px;
    height: 16px;
}

td.test-none { /* grey */
    background-color: #ddd;
    border: none;
}
td.test-error   { background-color: #f9f; } /* purple */
td.test-colour1 { background-color: #0c0; } /* green */
td.test-colour2 { background-color: #9e0; } /* yellow-green */
td.test-colour3 { background-color: #ee0; } /* yellow */
td.test-colour4 { background-color: #fa0; } /* orange */
td.test-colour5 { background-color: #f70; } /* orange-red */
td.test-colour6 { background-color: #f00; } /* red */
td.test-colour7 { background-color: #a00; } /* darker red */

table#amp-matrix td.hover,
table#amp-matrix th.hover > p > span {
    text-decoration: underline;
}

.popover {
    max-width: none;
}

.popover-content {
    padding: 0;
}

.popover-content > p,
.popover-content > div > p {
    margin-bottom: 0px;
    padding: 0;
}

.popover-content > * {
    padding: 5px 10px;
}

.popover-content table {
    border-collapse: collapse;
    width: 300px;
}

.popover-content table td.tooltip_title {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
}

.popover-content table td.tooltip_period_value {
    text-align: left;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 90px;
}

.popover-content table td.tooltip_metric {
    text-align: right;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 140px;
}

.popover-content table td.top {
    padding-top: 5px;
}

.popover-content table td.bottom {
    padding-bottom: 5px;
}

#tooltip_sparkline_descrip {
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 0px;
    border-top: 1px solid #ccc;
}

#tooltip_sparkline_none {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #ccc;
}

#tooltip_sparkline_combined {
    height: 60px;
    width: 300px;
}

/* Clearfixes */

ul#topTabList:after, ul#topTabList:before {
    content: " ";
    display: table;
}
ul#topTabList:after {
    clear: both;
}
ul#topTabList {
    *zoom: 1; /* IE 6/7 clearfix */
}