/* styles for the main matrix page */
table.main_grid {
    clear: both;
    /* table-layout: fixed; */
    float: left;
    padding-bottom: 20px;
}

table.tooltip {
    border: 1px solid black;
    border-collapse: collapse;
}

div.ui-tooltip {
    font-size: 80%;
    border: 2px solid black;
    -sand-box-shadow: -5px -5px 5px black;
}

table.tooltip td.tooltip_title {
    text-align: center;
}

table.tooltip td.tooltip_metric {
    text-align: center;
}

table.tooltip td {
    text-align: center;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    width: 60px;
}

#td_sparkline {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 2px;
}

.cell_mouse_hover {
    background-color: #C3C3C3;
}

td.test-none {
    border: 3px solid #C1CDCD; /* grey */
}

td.test-error {
    border: 3px solid #FF83FA; /* purple */
}

td.test-color1 {
    border: 3px solid #00EF00; /* green */
}

td.test-color2 {
    border: 3px solid #C1D111; /* yellow-green */
}

td.test-color3 {
    border: 3px solid #FFE000; /* yellow */
}

td.test-color4 {
    border: 3px solid #FFA500; /* orange */
}

td.test-color5 {
    border: 3px solid #FF4500; /* orange-red */
}

td.test-color6 {
    border: 3px solid #FF0000; /* red */
}

td.test-color7 {
    border: 3px solid #AA0000; /* darker red */
}

td.cell {
    text-align: center;
    font-size: 45%;
    width: 17px;
    height: 17px;
}

td.srcNode {
    text-align: right;
    padding-right: 5px;
    font-size: 60%;
    white-space: nowrap;
}

table.main_grid thead th p {
    white-space: nowrap;
    -sand-transform: rotate(-45deg);
    /* writing-mode: tb-rl; */
    display: block;
    position: relative;
    font-size: 60%;
    height: 80px\9;
    width: 20px;
    /* padding-bottom: 5px; */
    margin-bottom: 2px;
    margin-top: 45px;
    padding-left: 3px;
}

table.main_grid thead th {
    width: 20px;
    white-space: nowrap;
}

#changeMesh_div {
    float: right;
}

/* styles for the matrix grid tabs */
#topTabs {
    background: transparent;
    border: none;
}
#topTabs .ui-widget-header {
    background: transparent;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    border-radius: 0px;
}
#topTabs .ui-state-default {
    background: transparent;
    border: none;
}
#topTabs .ui-state-active {
    background: transparent url('../img/uiTabsArrow.png') no-repeat bottom center;
    border: none;
}
#topTabs .ui-state-default a {
    /* color: #c0c0c0; */
}
#topTabs .ui-state-active a {
    color: #459E00;
}
#topTabs .ui-tabs .ui-tabs-panel {
    padding: 0px;
}
#topTabs .ui-tabs .ui-tabs-nav {
    padding: 0px;
}
#topTabs .ui-tabs {
    padding: 0px;
}

a {
    outline: none;
    text-decoration: none;
}

#topTabs {
    height: 50px;
}

#tabContent {
    height: 0px;
    padding: 0px;
}
