/* styles for the main matrix grid */
table {
    border-collapse: collapse;
    clear: both;
    table-layout: fixed;
    float: left;
}

.test-none {
    background-color: #C1CDCD; /* grey */
}

.test-error {
    background-color: #FF83FA; /* purple */
}

.test-color1 {
    background-color: #00FF00; /* the greenest green ever! */
}

.test-color2 {
    background-color: #9AFF32; /* yellow-green */
}

.test-color3 {
    background-color: #FFFF00; /* yellow */
}

.test-color4 {
    background-color: #FFA500; /* orange */
}

.test-color5 {
    background-color: #FF4500; /* orange-red */
}

.test-color6 {
    background-color: #FF0000; /* red */
}

.test-color7 {
    background-color: #CC0000; /* darker red */
}

.cell {
    border: 1px solid #000000;
    text-align: center;
    font-size: 48%;
    width: 22px;
    height: 22px;
}

.srcNode {
    text-align: right;
    padding-right: 5px;
    font-size: 80%;
    white-space: nowrap;
}

table.main_grid thead th p {
    -webkit-transform: rotate(-90deg); /* for WebKit/Safari */
    -moz-transform: rotate(-90deg); /* for Mozilla */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* for IE */
    display: inline-block;
    position: relative;
    font-size: 50%;
    width: 25px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

table.main_grid thead th {
    width: 25px;
    white-space: nowrap;
}

table.main_grid thead th.sorting_asc {
    background: url('../img/sort_asc.jpg') no-repeat right center;
}

table.main_grid thead th.sorting_desc {
    background: url('../img/sort_desc.jpg') no-repeat right center;
}

table.main_grid thead th.sorting {
    background: url('../img/sort_both.jpg') no-repeat right center;
}
 
div.dataTables_filter {
    float: right;
}
 
div.dataTables_filter {
    padding: 6px;
}

/* styles for the matrix grid tabs */
#topTabs {
    background: transparent;
    border: none;
}
#topTabs .ui-widget-header {
    background: transparent;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    border-radius: 0px;
}
#topTabs .ui-state-default {
    background: transparent;
    border: none;
}
/* This doesn't work yet :( */
#topTabs .ui-state-active {
    background: transparent url('../img/uiTabsArrow.png') no-repeat bottom center;
    border: none;
}
#topTabs .ui-state-default a {
    /* color: #c0c0c0; */
}
#topTabs .ui-state-active a {
    color: #459E00;
}
#topTabs .ui-tabs .ui-tabs-panel {
    padding: 0px;
}
#topTabs .ui-tabs .ui-tabs-nav {
    padding: 0px;
}
#topTabs .ui-tabs {
    padding: 0px;
}
a {
    outline: none;
}
