Source: amp-web
Section: net
Priority: optional
Maintainer: Brendon Jones <brendonj@waikato.ac.nz>
Build-Depends: debhelper (>= 8.0.0), python, dh-python, python-setuptools, python-dev
Standards-Version: 3.9.3
Homepage: http://wand.net.nz/projects/details/storage-network-monitoring-and-measurement-data
#Vcs-Git: git://git.debian.org/collab-maint/amp-web.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/amp-web.git;a=summary

Package: amp-web
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, apache2, libapache2-mod-wsgi, memcached, ampy (>= 2.14), python-pyramid (>= 1.5.1), python-chameleon, python-yaml, python-pyramid-tm, python-zope.sqlalchemy, sudo, python-bcrypt (>= 2.0.0), python-waitress (>= 0.8.9), pyramid-chameleon (>= 0.3), adduser
Description: Web interface for exploring graphs based on data from nntsc.
 ampweb is the front-end web interface of the AMP active measurement system.
 It is responsible for displaying graphs of the measurement data, information
 about events, and configuration/scheduling information for the measurement
 probes.
